:root {
  --bcc: #fbfcff;
  --ligth-blue: #dce1ed;
  --active: #7884e5;
  --wrong: #39393C;
  --wp: #f3c237;
  --correct: #6cbe63;
  --white: #fff;
  --black: #000;
  --start-cell: #a9a4d7;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body,
.main {
  height: 100%;
  width: 100%;
  background-color: var(--white);
  font-size: clamp(0.5rem, 2.5vmin, 1.5rem);
  font-family: 'Noto Sans', sans-serif;  
}
.container {
  max-width: 100vw;
  height: 100%;
  margin: 0 auto;
}
.main-container {
  height: calc(100% - 0.5em);
  display: grid;
  align-items: center;
  justify-items: center;
  position: relative;
  padding: 0.5em;
}

.title {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--correct);
}
.title__color{
  color: var(--wp);  
}
.word {
  position: relative;
  color: rgb(157, 144, 144);
  background-color: rgba(70, 68, 143, 0.8);
  padding: 0 5px;
}
.word:hover::after,
.word:focus::after {  
  content: attr(data-word);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(70, 68, 143, 0.8);
  padding: 0 2px;
  z-index: 5;
}
.pop-up {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black);
  background-color: rgba(70, 68, 143, 0.8);
  transition: all 0.7s ease 0s;
  z-index: 5;
}
.pop-up__wrap {
  max-width: 50vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  background-color: var(--white);
  color:#000;
  padding: 1em;
  border: 3px solid #2e2c6f;
  border-radius: 10px;  
}
.pop-up__start {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}
.pop-up__close {
  position: absolute;
  top: 5px;
  right: 5px;
  text-decoration: none;
  padding: 0 3px;
  background-color: var(--white);
  font-size: 1em;
  cursor: pointer;
}
.pop-up__title {
  text-shadow: 1px 1px 2px var(--black);
}
.yellow {
  color: var(--wp);
  font-weight: bold;
}
.green {
  color: var(--correct);
  font-weight: bold;
}
.grey {
  color: var(--wrong);
  font-weight: bold;
}
.close {
  visibility: hidden;
  opacity: 0;
  transform: translate(0px, -100%);
  transition: all 1.5s ease 0s, color 1s;
}
.close__back {
  visibility: hidden;
  opacity: 0;
  transition: all 2s ease 0s;
}
.cell-container {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-rows: repeat(6, 3.5em);
  grid-template-columns: repeat(5, 3.5em);  
  gap: 0.2em;
}
.cell {
  font-size: 2em;
  color: var(--white);
  background-color: var(--bcc);
  border: 0.07em solid #dee1e9;
  border-radius: 0.1em;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  user-select: none;
}
.btn-wrap {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 1em;
}
.btn {
  width: 10em;
  height: 100%;
  padding: 0.3em 0.6em;
  font-size: 1em;
  text-transform: uppercase;
  background-color: var(--bc);
  border: 0.12em solid var(--black);
  border-radius: 5px;
  color: var(--black);
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.btn:hover {
  transform: scale(1.05);
  transition-duration: 0.4s;
}
.disabled,
.btn.disabled:hover {
  transform: none;
  opacity: 0.4;
  cursor: not-allowed;
}
.intarget {
  border-color: var(--start-cell);
}
.active {
  border-color: var(--active);
  color: var(--black);
}
.keyboard-container {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-auto-rows: 3em;
  grid-template-columns: repeat(24, 1.25em);
  gap: 0.25em;
}
.key {
  font-size: inherit;
  grid-column: span 2;
  padding: 0;
  display: flex;
  color: #5a6376;
  background-color: var(--ligth-blue);
  border-radius: 0.2em;
  text-transform: uppercase;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.key[data-keys='enter'],
.key[data-keys='backspace'] {
  grid-column: span 3;
}
.key[data-keys='backspace'] {
  background-image: url('../svg/backspace.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.pop-up__win,
.pop-up__lost,
.pop-up__absent {
  margin-top: 10px;
}
.wrong {
  background-color: var(--wrong);
  border: none;
  color: var(--white);
}
.wrong-place {
  background-color: var(--wp);
  border: none;
  color: var(--white);
}
.correct {
  background-color: var(--correct);
  border: none;
  color: var(--white);
}
.hide {
  display: none;
}

/*--Media--*/
@media (max-width: 700px) {
  .cell-container {
    grid-template-rows: repeat(6, 4em);
    grid-template-columns: repeat(5, 4em);
  }  
}
@media (max-width: 600px) {
  .main-container {
    align-content: space-evenly;
  }
  .keyboard-container {
    grid-auto-rows: 5em;
  }
  .keyboard-container {
    gap: 0.35em;
  }
  .cell-container {
    grid-template-rows: repeat(6, 5em);
    grid-template-columns: repeat(5, 5em);
  }
}
@media (max-width: 500px) {
  .cell-container {
    grid-template-rows: repeat(6, 6em);
    grid-template-columns: repeat(5, 6em);
  }
}
